.component-card{
  margin-bottom: 10px;
}
.tab-card{
  padding:8px;

}
.component-title{
  text-align: center;
  overflow-y: hidden;
}
.more-info-icon{
  font-size: 14pt;
  color: #7a7a7a;
  vertical-align: middle;
  height: 22px;
}