.component-option{
  height: 320px;
}
.option-image{
  max-height: 250px;
  max-width: 250px;
  margin: 20px;
}
.price-container{
  margin:auto;
}
.price{
  color: var(--price-color);
  font-weight: var(--price-font-weight);
}
.info-holder{
  height: 290px;
}
.description{
  overflow-y: scroll;
}
.description::-webkit-scrollbar{
  display: none;
}
.price-difference{
  color: red;
}
.external-link-icon{
  position: absolute;
  top: 13px;
  right: 20px;
}
.select-button{
  margin:auto;
}